.card .bg-dark .text-white {
    display:inline-block;
}

.container-fluid {
    padding:0px;
    background-color: rgb(250,247,241);
    margin: 5px;
    overflow:hidden;
}


.btn-outline-danger {
    background-color: rgba(255,255,255,0.5);
    font-family: 'Fira Sans Condensed', sans-serif;
    color: rgb(178, 13, 41);
    border-color: rgb(178, 13, 41);
    border-radius: 0px;
    border: 2px solid;

}

.btn-outline-danger:hover {
    background-color: rgb(178, 13, 41);
    color: #FFFFFF;
    border-color: rgb(178, 13, 41);

}


.options {
    padding-right: 10px;
    padding-left: 10px;
    width:80%;
    margin:0 auto;
    background-color: #FFF;
    padding-top: 20px;
    padding-bottom: 20px;
}
.category-text {
    text-shadow: 2px 2px #000000;
}
.menu-item {
   margin: 5px;
   overflow:hidden;
}



.menu .header {
    width:100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) 91.93%, transparent), url(../assets/smu02.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.header-text {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #FFFFFF;
    font-family: 'Fira Sans Condensed', sans-serif;
    top: 100px;
    padding-left: 40px;
    padding-right: 40px;
}

.header-text h1 {
    font-size: 80px;
    text-shadow: 3px 3px #000000;
    
}

.carousel {
    margin: 0 auto ;
}
.carousel-inner img {
    /*height: 200px !important;*/
    width:80vh;
  }